POSTGRES_USER="cloud"               # Usuário do Banco de dados
POSTGRES_PASSWORD="cloudpassword"   # Senha do Banco de dados
DB_PORT=5432                        # Porta de conexão do Banco de dados
DB_NAME="cloud"                     # Nome do Banco de dados
WEB_PORT=8080                       # Porta de conexão da API
SECRET_KEY="cloudkey"               # Assinatura dos token JWT